<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" text="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/font/fontawesome-free-6.4.0-web/css/all.css">
</head>
<body>
    <div class="screen">
        <header id="header1">
            <ul class="list">
                <li class="item"><a href="/blog">Trang chủ</a></li>
                <li class="item"><a href="/blog/about">Giới thiệu</a></li>
                <li class="item"><a href="#">Liên hệ - Góp ý</a></li>
            </ul>
            <ul class="list">
                <li class="item icon_item"><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li class="item icon_item"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </header>
        <div class="contentHeader">
            <h1>Kênh chia sẻ các thông tin về lập trình</h1>
        </div>
        <div class="menu">
            <ul class="list">
                <li class="item_menu"><a href="/blog"><i class="fa-solid fa-house"></i></a></li>
                <li class="item_menu"><a href="">Thủ thuật IT</a></li>
                <li class="item_menu"><a href="">Giải trí</a></li>
                <li class="item_menu"><a href="">Lập trình</a></li>
                <li class="item_menu"><a href="">Cấu trúc dữ liệu - Giải thuật</a></li>
                <li class="item_menu"><a href="">Sách hay</a></li>
            </ul>
            <ul class="list">
                <li class="item"><input id="search" type="text" placeholder="Tìm kiếm"></li>
                <li class="item"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></li>
            </ul>
        </div>

        <div class="About">
            <div class="listPost">
                <h2 class="title">
                    Giới thiệu
                </h2>              
                <br>
                Mình là Nguyễn Đình Hiếu - một sinh viên học CNTT, yêu thích lập trình đặc biệt là đối với lập trình game.
                Mình tạo blog này đầu tiên với mục đích tổng hợp và lưu lại các kiến thức quan trọng mà mình thu thập và học hỏi được qua từng ngày, đồng thời chia sẻ kiến thức đó cho các bạn có chung niềm đam mê.
                Blog sẽ là tổng hợp kiến thức từ nhiều nguồn trên internet, do đó có thể có sai sót, vậy nên mong các bạn đọc đóng góp ý kiến để các bài viết về sau ngày càng có chất lượng vào hoàn thiện hơn nữa.
                Cùng nhau phấn đấu vì ngày mai tươi sáng :D.
            </div>
        </div>
      
    </div>

</body>
</html>