    <!-- <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="tess">
            nguyendinhhieu
            <div class="tesst">
                    <% if (data && data.cmts) {%>
                        <% for (var i=0; i < data.cmts.length; i++) {%>
                            <div class="cmt"><%=data.cmts[i].content%></div>
                        <%}%>
                    <%}%>
                    <div class="cmt">nguyendinhheiu</div>
                </div>
        </div>
    </body>
    </html> -->